/* loudsquare.css
*/


/* global settings
*/
* { padding:0; margin:0; }
html { font-size:92.5%; background-color:#fff; color:#424041; }
body { font-family:helvetica,arial,sans-serif; font-size:1em; cursor:default; }
img, iframe { border:0; }
img { vertical-align:middle }
a { text-decoration:none; color:#49c; }
a:hover, a:focus { color:#c50; outline:0; }
big { font-size:1.2em; line-height:1.3em; color:#777; }

h2, h3, h4 { color:#333; }
h2 { font-size:2.5em; font-weight:normal; letter-spacing:-0.02em; }
h4 { font-size:1em; margin:2em 0 1em; }
p.loud { font-size:1.5em; margin-bottom:1.35em; color:#777; }
p { line-height:1.65em; margin-bottom:1em; }
p.lead:first-line { font-weight:bold; }

input { font-size:1.2em; cursor:pointer;
	padding:0.25em 0.75em; margin:0.5em; border:0.12em solid #999;
	border-radius:0.75em; -moz-border-radius:0.75em; -webkit-border-radius:0.75em; }
input[type=text] { background:#fafafa; color:#666; width:12em; cursor:text; }
input[type=text]:hover, input[type=text]:focus { border-color:#08c;
	box-shadow:rgba(0,0,0,0.075) 0 1px 1px 0 inset, rgba(82, 168, 236, 0.6) 0 0 8px 0;
	-moz-box-shadow:rgba(0,0,0,0.075) 0 1px 1px 0 inset, rgba(82, 168, 236, 0.6) 0 0 8px 0;
	-webkit-box-shadow:rgba(0,0,0,0.075) 0 1px 1px 0 inset, rgba(82, 168, 236, 0.6) 0 0 8px 0; }
input:-moz-placeholder { color:#bbb; }
input::-moz-placeholder { color:#bbb; }
input:-ms-placeholder { color:#bbb; }
input::-webkit-input-placeholder { color:#bbb; }
input[type=submit] {
	background:#393; color:#fff; padding:0.25em 1em;
	border:1px solid #292;
}
input[type=submit]:hover, input[type=submit]:focus {
	background:#3a3;
	box-shadow:rgba(0,0,0,0.075) 0 1px 1px 0 inset, rgba(82, 236, 82, 0.6) 0 0 8px 0;
	-moz-box-shadow:rgba(0,0,0,0.075) 0 1px 1px 0 inset, rgba(82, 236, 82, 0.6) 0 0 8px 0;
	-webkit-box-shadow:rgba(0,0,0,0.075) 0 1px 1px 0 inset, rgba(82, 236, 82, 0.6) 0 0 8px 0;
	text-shadow:rgba(0, 0, 0, 0.25) 0 -1px 0;
}
input[type=submit]:focus { background:#3a3; box-shadow:0; }

/* classes
*/
.clearafter:after {
	clear:both; content:''; display:block; height:1px; height:0; visibility:hidden; }

/* stacked sections
*/
body { min-width:68em; } /* = 63 + 2 x 2.5 width of hdr, etc; fixes bkg hscroll */
#header>*, #billboard>*, #teasers>*, #main>*, #title>*, #social>*, #footer>* {
	width:63em; margin:0 auto; padding:1.25em 2.5em; }

#header { border-bottom:1px solid #ecedee; }
h1 { display:inline; font-family:sans-serif; font-size:2em; font-weight:bold; letter-spacing:0.03em; }
h1>a { color:#c50; }
h1>a:hover, h1>a:focus { color:#4ad; }
.menu>* { display:inline; padding-left:1.5em; font-size:1.2em; }
.menu { float:right; padding:0.98em 0; list-style:none; }

#billboard { padding:2em 0 2.75em; background:#fafbfc; border-bottom:1px solid #ecedee;
	box-shadow:0 0.1em 0.5em 0 #ddd;
	-moz-box-shadow:0 0.1em 0.5em 0 #ddd; -webkit-box-shadow:0 0.1em 0.5em 0 #ddd; }
#billboard h2 { font-size:4.5em; line-height:1.1em; padding:0.25em 0 0.175em; }
#billboard h3 { font-size:1.6em; font-weight:normal; line-height:1.75em; color:#888; }
#video {
	float:right; padding:1.4em 1.3em 1em; border:0.1em solid #ddd; background:#fff; 
	color:#888; text-align:center; box-shadow:0 0.1em 0.3em 0 #ddd;
	-moz-box-shadow:0 0.1em 0.3em 0 #ddd; -webkit-box-shadow:0 0.1em 0.3em 0 #ddd; }
iframe { display:block; padding-bottom:1em; margin:0 auto; }

#teasers { padding-top:2em; padding-bottom:0; }
table { width:100%; border-spacing:0; border-collapse:0; }
td { width:33%; padding:0 1em; border-right:1px dotted #ddd;
	vertical-align:top; text-align:center; }
td:first-child { padding-left:0; }
td:last-child { border:0; padding-right:0; }
#teasers h4 { font-size:1.25em; margin-top:0; }

#main {
	padding:1em 0;
	background:#fefeff; background:-moz-linear-gradient(top, #fefeff, #fff);
	background:-webkit-gradient(linear, left top, left bottom, from(#fefeff), to(#fff));
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefeff', endColorstr='#ffffff'); }
#main>div {
	background:#fafafa; padding:0; width:68em; /* = width 64 + 2 x pad 2 */
	border:1px solid #ecedee; border-top:0; border-bottom:0;
	border-radius:0.25em; -moz-border-radius:0.25em; -webkit-border-radius:0.25em;
	box-shadow:0 0.1em 0.5em 0 #ddd;
	-moz-box-shadow:0 0.1em 0.5em 0 #ddd; -webkit-box-shadow:0 0.1em 0.5em 0 #ddd; }
#content {
	background:#fff; padding:4em 4em 6em 2.5em; width:40em; }
#main h2 {
	font-size:2.5em; letter-spacing:-0.02em;
	width:25.2em /*=63em/2.5*/; margin:0 auto; padding:0.8em 1em/*=3em/2.5*/ 0.5em; }
#main h3 { font-size:1.2em; margin:2em 0 1em; padding:0; }
#main h4 { font-size:1em; margin:2em 0 1em; padding:0; }

.sidebar { float:right;
	xposition:absolute; xright:2em; width:15.5em; padding:6em 2.5em 3em 3.5em;
	border-left:1px dotted #ddd; }
#main .sidebar>h4 { color:#525051;
	margin-top:2.5em; xpadding-top:2em; xborder-top:0.75em dotted #dda; }
#main .sidebar>h4:first-child { margin-top:0; }
.sidebar>a { display:block; }
.sidebar img { vertical-align:middle; margin:0.25em 0.5em 0.25em 0; }
.sidebar { list-style:inside; }

#social { text-align:center; }
#social img { margin:1.75em 1.5em; }

#footer { padding:2em 0 3em; border-top:1px solid #ecedee; }
#footer>div { color:#888; }

